/*###GENERAL###*/

p{
    font-family: "Open Sans";
    font-size: 1em;
}

h1,h2,h4,h5{
    font-family: "Oswald";
    color: #ff6600;
    text-transform: uppercase;
}
.navbar-nav {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

button{
    font-family: "Open Sans", serif;
}
.btn {
    text-transform: uppercase;
    border-radius: 20px !important;
}
.row-blank {
    height: 50px;
}
hr.style1 {
	border-top: 1px solid lightgrey;
}

/*###HEADER###*/

#header{
    font-family: "Oswald", serif;
    font-size:1.2em;  
    text-transform: uppercase;
}

/*###TECHNIQUE###*/

.tab-font-style{
    font-family: "Oswald";
}


/*#### UTILISATION###*/

.paraf {
    color:white;
  }
.bgImg {
    background-image: url("image/headphone-wildx.jpg");
    padding-top: 75px;
    padding-bottom: 45px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    line-height: 120%;
    text-shadow: 2px 2px 2px black;
  }
.newsBg {
    background-image: url("image/newsletterbg.jpg");
    padding-top: 50px;
    padding-bottom: 45px;
    background-position: center;
    background-size: 100%;
}



/*###FOOTER###*/

#bambi-team{
    font-family: "Oswald"
}
.laMarge{
    margin-bottom: 25px;
}

