/*###GENERAL###*/

p{
    font-family: "Open Sans";
    font-size: 1.1em;
}

h1,h2,h4,h5{
    font-family: "Oswald";
    color: #ff6600;
}

button{
    font-family: "Open Sans";
}
/*###HEADER###*/

#header{
    font-family: "Oswald";
    font-size:1.3em;  

}


/*###TECHNIQUE###*/

.tab-font-style{
    font-family: "Oswald";
}
/*#### UTILISATION###*/
.paraf {
    color:white;
  }
    .bgImg {
    background-image: url("https://lh3.googleusercontent.com/ZBRbvmKtV42ywLDgcoQw8DovHJC1Ey98WNvZ-BWqXRA_JJYp_jDY9nvFUc1WWtZNZG5q4PjLC2GhiLniXSSxGcm-aN-JRrez0QRICBW0OBrc57TASHOs-ckJ90PbEktBXir5hLjYjSS-UiFYa6g67upn2g16gHhZiacE8NuZls9ZwnLa8GVYyTl22gEQFI553hAisZBlsQYX7OST4i3LlY0lTTz4SIgAlBQy-YaxYCLl6ayyAoV2U6pIIxK_hiBsNJcUSNAa1eBOkZdQeguUHUeqmuY1U5JdClUwZHZlg6XyVaTM-L6Qj8IfnEAAWRxm1odZ5mY1IxytWNkIL6wD3JDvowlqUYrpm4WB0H-S2ZQiaFZbR37YwfNxvhnXQTrQaRK4KatMjJEYLEcD1trqzVyrV4755ioWtrmf1bofki8Vkdw_apnfnUPXa6Ho4mBQectQKLp1Aq9E4XASpPVP6EkFJuoyjMFfKsAL3jXiN8RacCsXn0aZtlmKBQzOfDrIqb92sAR7fFwUEJ0rF6umhW9gHDoPl1yhwM01BnVMrvM7o6V__vWh8I8iDnb-fy_GPqlEoqyxU_cmVOlZwL01crU-Cm18u2C_3cJr3-TmBeA6FvXxP855sXImkeQM1Jw=w990-h660-no");
    padding-top: 40px;
    padding-bottom: 35px;
    background-position: center;
    background-size: 100vw;
  }
